<div class="disconnect_link">
  <%= link_to 'Disconnect',destroy_user_session_path, method: :delete %>
</div>
<h1>New Rope</h1>
<div class="newr"><%= render 'form', rope: @rope %></div>

<div class="back"><%= link_to 'Back', ropes_path %></div>
