<p>Salut<%= @email %>!</p>

<p>Vous pouvez vérifier votre compte en suivant le lien suivant :</p>

<p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>
